.project {
  width: 276px;
  height: 351px;
  border: 2px solid black;
  margin-bottom: 16px;
  background-color: white;
  @media all and (min-width: 768px) {
    margin: 0 8px 16px 8px;
  }
}

.project__card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.project__card-header--btn {
  width: 148px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  outline: none;

  .right-arrow {
    position: relative;
    margin-right: 8px;
  }

  .left-arrow {
    position: relative;
  }
}

.span {
  margin-left: 8px;
}

.project__card-header--btn:hover {
  color: white;
  background-color: #8787ff;
  .right-arrow {
    display: none;
  }
  .left-arrow {
    position: relative;
    margin-right: 8px;
  }
}

.project__card-header--web,
.project__card-header--github {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .github-logo,
  .web-logo {
    position: absolute;
  }
}

.project__card-header--web:hover,
.project__card-header--github:hover {
  background-color: #8787ff;
  .github-logo,
  .web-logo {
    opacity: 0;
    position: absolute;
  }
  .github-hover,
  .web-hover {
    position: relative;
  }
}

.project__card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  border-top: 2px solid black;
  padding: 16px 0 0 16px;
}

.project__card-img {
  margin: 14px;
  border: 2px solid black;
  width: 244px;
  height: 209px;
}

.project__card-description {
  color: black;
  font-family: "Montserrat", sans-serif;
  margin: 8px 16px 0 16px;
  text-align: left;
  height: 168px;
  border-bottom: 2px solid black;
}

.project__card-technologies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 16px 16px;
}

.technologies {
  &__logo {
    height: 24px;
  }
}
