@import "../core/variables.scss";
@import "../core/mixins.scss";

.cover-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  &__name {
    color: $color-tertiary;
    font-size: 30px;
    font-family: $font-family;
    font-weight: $font-weight-heavy;
    text-align: center;

    @include tablet {
      font-size: 60px;
    }

    @include desktop {
      font-size: 96px;
    }
  }

  &__jobs {
    color: $color-tertiary;
    font-family: $font-family;
    font-weight: 600;
    font-size: 11.5px;
    text-align: center;
    margin-top: 16px;
    border: 2px solid $color-tertiary;
    padding: 5px 16px 5px 16px;
    font-style: italic;

    @include tablet {
      font-size: 23px;
    }

    @include desktop {
      font-size: 28px;
      width: 543px;
    }
  }

  &__scroll {
    height: 45px;
    width: 45px;
    background-image: url(../../media/hand.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    bottom: 80px;
    border: transparent;
    outline: none;
    scroll-behavior: auto;
    color: transparent;

    @include desktop {
      background-image: url(../../media/scrollMouse.svg);
      height: 62px;
      width: 32px;
    }
  }
}

.box {
  height: 64px;
  width: 30px;
  position: absolute;
  bottom: 0;
}
