@import "../core/variables.scss";
@import "../core/mixins.scss";

.skillscontent-container {
  border: 2px solid $color-dark;
  width: 260px;
  margin-top: 16px;
  height: 335px;

  @include tablet {
    margin: 32px 16px 0 16px;
    width: 305px;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: $font-weight-medium;
    padding: 15px;
    background-color: $color-tertiary;
    border-bottom: 2px solid $color-dark;
    color: $color-dark;
  }

  &__technologies {
    margin: 24px;
    &--title {
      margin-bottom: 8px;
      color: $color-primary;
      font-size: 18px;
      font-weight: 600;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      list-style: none;
      color: $color-dark;
      font-weight: $font-weight-medium;
      font-size: 16px;
      margin: 16px 0 24px 0;
      background-color: $color-tertiary;
      .item {
        margin-right: 20px;
      }
      .item:before {
        content: "\2610";
        margin-right: 5px;
      }
    }
    &--line {
      border: 1px solid $color-primary;
      width: 64px;
    }
  }

  &__tools {
    background-color: $color-tertiary;
    margin: 24px;
    &--title {
      margin-bottom: 8px;
      color: $color-primary;
      font-size: 18px;
      font-weight: $font-weight-medium;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      list-style: none;
      font-weight: $font-weight-medium;
      font-size: 16px;
      margin: 16px 0 24px 0;
      color: $color-dark;
    }
    .item:before {
      content: "\2610";
      margin-right: 5px;
    }

    &--line {
      border: 1px solid $color-primary;
      width: 64px;
    }
  }
}
