.skills-container {
  width: 100%;
  background-color: white;
  height: 1300px;
  margin-bottom: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;

  @media all and (min-width: 768px) {
    height: 950px;
  }

  @media all and (min-width: 1280px) {
    height: 550px;
  }

  &__title {
    width: 180px;
    text-align: center;
    padding: 12px;
    margin-top: 64px;
    background-color: #8787ff;
    border: 2px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.skillscontent-container {
  border: 2px solid #333333;
  width: 260px;
  margin-top: 32px;
  height: 335px;

  @media all and (min-width: 768px) {
    margin: 32px;
    width: 305px;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    background-color: white;
    border-bottom: 2px solid #333333;
    color: #333333;
  }

  &__technologies {
    margin: 24px;
    &--title {
      margin-bottom: 8px;
      color: #8787ff;
      font-size: 18px;
      font-weight: 600;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      list-style: none;
      color: #333333;
      font-weight: 600;
      font-size: 16px;
      margin: 16px 0 24px 0;
      background-color: white;
      .item {
        margin-right: 20px;
      }
      .item:before {
        content: "\2610";
        margin-right: 5px;
      }
    }
  }
  &__tools {
    background-color: white;
    margin: 24px;
    &--title {
      margin-bottom: 8px;
      color: #8787ff;
      font-size: 18px;
      font-weight: 600;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      list-style: none;
      font-weight: 600;
      font-size: 16px;
      margin: 16px 0 24px 0;
      color: #333333;
    }
    .item:before {
      content: "\2610";
      margin-right: 5px;
    }
  }
}

hr {
  border: 1px solid #8787ff;
}
