.about-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 240vh;
  font-family: "Montserrat", sans-serif;
  @media all and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 150vh;
  }

  &__container-photo {
    border: 2px solid black;
    margin: 64px 32px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      order: -1;
      padding: 0 32px;
      height: 320px;
      margin: 64px 0 0 64px;
    }
    &--photo {
      width: 215px;
      margin: 20px 4px;
      @media all and (min-width: 768px) {
        width: 250px;
      }
    }
  }

  &__desc {
    margin: 0 32px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      order: 1;
      margin: 0 64px 0 64px;
    }

    &--topbar {
      background-color: white;
      border-bottom: 2px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &--title {
      font-weight: 600;
      font-style: italic;
      font-size: 18px;
      margin-right: 86px;

      @media all and (min-width: 768px) {
        margin-right: 260px;
      }
    }
  }

  &__job-title {
    font-size: 22px;
    font-weight: 600;
    margin: 16px 0 16px 16px;

    @media all and (min-width: 768px) {
      margin: 32px 0 16px 32px;
    }
  }

  &__desc-irene {
    margin: 0 16px 16px 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    @media all and (min-width: 768px) {
      margin: 0 32px 0 32px;
      letter-spacing: -0.4px;
    }
  }

  &__desc-skills {
    margin: 0 16px 16px 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;

    @media all and (min-width: 768px) {
      margin: 16px 32px 0 32px;
      letter-spacing: -0.4px;
    }
  }

  &__skills {
    font-size: 20px;
    font-weight: 600;
    width: 113px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 32px 0 48px;
    border: 2px solid black;
    background-color: white;
    transform: translate(0%, 50%);
    @media all and (min-width: 768px) {
      margin: 0;
      transform: translate(45%, 35%);
    }

    &--arrow {
      margin: 10px 0 10px 8px;
      transform: rotate(90deg);
    }

    &--title {
      margin: 10px 8px 10px 0;
      color: black;
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__tecnologies {
    margin: 0 32px 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      margin: -7px 32px 0 32px;
    }

    &--part1 {
      margin-top: 38px;
    }
    &--part2 {
      margin: 16px 0 28px 0;
    }
  }

  &__skills-part {
    display: block;
    @media all and (min-width: 768px) {
      order: 0;
      width: 345px;
      height: 220px;
      margin-top: 181.3px;
    }
  }
}

.topbar-circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  &__1 {
    width: 16px;
    height: 16px;
    background-color: #8787ff;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 20px;
  }
  &__2 {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    margin-left: 6px;
    border-radius: 20px;
  }
  &__3 {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    margin-left: 6px;
    border-radius: 20px;
  }
}

.logo {
  margin: 0 8px;
}
