.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  @media all and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media all and (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__photo {
    margin: 64px 32px 32px 32px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      order: -1;
    }
    @media all and (min-width: 1280px) {
      order: -1;
      width: 412px;
      height: 412px;
    }

    &--img {
      width: 200px;
      height: 200px;
      margin: 24px;
      @media all and (min-width: 1280px) {
        width: 348px;
        height: 348px;
      }
    }
  }

  &__desc {
    border: 2px solid black;
    margin: 0 32px 0 32px;
    @media all and (min-width: 768px) {
      order: 1;
      width: 706px;
      margin: 0 58px 0 58px;
    }
    @media all and (min-width: 1280px) {
      order: 1;
      width: 728px;
      height: 412px;
      margin: 35px 0 0 0;
    }

    &--topbar {
      display: grid;
      grid-template-columns: 25% 67%;
      grid-gap: 8%;
      text-align: left;
      border-bottom: 2px solid black;
      @media all and (min-width: 768px) {
        grid-template-columns: 15% 58.7%;
        grid-gap: 26.3%;
      }

      .topbar-circles {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .topbar-circles__1,
        .topbar-circles__2,
        .topbar-circles__3 {
          width: 16px;
          height: 16px;
          border-radius: 20px;
          background-color: white;
          border: 2px solid black;
        }

        .topbar-circles__1 {
          background-color: #8787ff;
        }
      }

      .title-topbar {
        font-weight: 600;
        font-style: italic;
        font-size: 18px;
      }
    }

    &--job {
      font-size: 22px;
      font-weight: 600;
      margin: 16px;
    }

    &--intro,
    &--irene {
      margin: 16px;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      @media all and (min-width: 1280px) {
        font-size: 18px;
      }
    }
    &--skills {
      margin: 16px;
      @media all and (min-width: 1280px) {
        font-size: 18px;
      }
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    margin: 0 32px 0 32px;
    @media all and (min-width: 768px) {
      width: 337px;
      margin-top: 35px;
    }
    @media all and (min-width: 1280px) {
      order: 1;
      width: 108px;
    }

    &--sign {
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: center;
      width: 113px;
      padding: 10px;
      margin-right: 100px;
      transform: translateY(50%);
      border: 2px solid black;
      @media all and (min-width: 768px) {
        margin-right: 175px;
      }
      @media all and (min-width: 1280px) {
        margin-right: 250px;
        margin-bottom: 50px;
        padding: 10px;
        transform: translate(32%, 268%);
      }

      .skills-title {
        font-size: 20px;
        font-weight: 600;
      }
      .skills-arrow {
        transform: rotate(90deg);
        @media all and (min-width: 1280px) {
          transform: rotate(0deg);
        }
      }
    }

    &--tecnologies {
      padding: 39px;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media all and (min-width: 1280px) {
        width: 108px;
        height: 412px;
        padding: 10px;
        margin-bottom: 95px;
      }

      .skills-tecnologies-1 {
        margin: 16px 0;
        @media all and (min-width: 768px) {
          margin-top: 16px;
        }
        @media all and (min-width: 1280px) {
          margin: 0;
          display: flex;
          flex-direction: column;
        }
      }

      .skills-tecnologies-2 {
        @media all and (min-width: 1280px) {
          display: flex;
          flex-direction: column;
        }
      }

      .logo {
        margin-right: 8px;
        @media all and (min-width: 768px) {
          margin: 5px 13px 0 13px;
        }
        @media all and (min-width: 1280px) {
          margin: 10px 0;
        }
      }
    }
  }
}
