* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  border: 1px solid rgb(42, 42, 54);
  background-color: rgb(42, 42, 54);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(42, 42, 54);
}

body::-webkit-scrollbar-thumb {
  background-color: #8787ff;
}
