//Fonts

$font-family: "Montserrat", sans-serif;

//Weight

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-heavy: 700;

//Colors

$color-primary: #8787ff;
$color-secondary: #2a2a36;
$color-tertiary: white;

$color-light: #9dedff;
$color-dark: black;

//Breakpoints

$tablet: 768px;
$desktop: 1280px;
